<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag @user.get_profile_image(100,100) %>

      <table class="table">
        <tbody>
          <tr>
            <th scope="row">name</th>
            <td><strong><%= @user.name %></strong></td>
          </tr>
          <tr>
            <th scope="row">introduction</th>
            <td><strong><%= @user.introduction %></strong></td>
          </tr>
        </tbody>
      </table>

       <%= link_to edit_user_path(@user.id) do %>
        <button class="btn btn-outline-secondary btn-block btn-lg">
         <i class="fas fa-user-cog"></i>
        </button>
       <% end %>


      <h2 class="mt-3">New book</h2>
      <%= form_with model: @book do |f| %>

       <h5 class="font-weight-light">Title</h5>
        <%= f.text_field :title %>

       <h5 class="font-weight-light">Opinion</h5>
        <%= f.text_area :body %>

       <button type="submit" class="btn btn-success btn-md mt-3">Create Book</button>

      <% end %>
    </div>

    <%#ここからページ右側 %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <th>
            <td>
                <%= image_tag @user.get_profile_image(80,80) %>
                <%= link_to user_path(@user.id) do %>
                 <h6><%= @user.name %></h6>
                <% end %>
            </td>
            <td><%= link_to book_path(@bookfind.id) do %>
                 <%= @bookfind.title %>
                <% end %>
            </td>
            <td><%= @bookfind.body %></td>

            <% if(current_user.id==@bookfind.user_id) %>
            <td>
              <%= link_to edit_book_path(@bookfind.id) do %>
              <button class= "btn btn-success btn-sm">Edit</button>
              <% end %>
            </td>
            <td><%= link_to destroy_book_path(@bookfind.id), method: :delete, "data-confirm" => "本当に排除しますか？" do %>
                <button class= "btn btn-danger btn-sm">Destroy</button>
                <% end %>
            </td>
            <% end %>
            </th>
        </tbody>
      </table>
    </div>
  </div>
</div>


